<div class="cart" ng-controller="CartController">
    <!-- EMPTY CART -->
    <div ng-show="emptyCart">
        <h1>Votre panier est vide</h1>
    </div>
    <!-- CART -->
    <div ng-show="state === 'cart' && !emptyCart">
            <h1 class="cart-title">Panier</h1>

            <ul class="cart-table-title"><li>
                    <div class="cart-left-column">
                        Produit
                    </div>

                    <div class="cart-quantity-column">
                        Quantité
                    </div>

                    <div class="cart-price-column-title">
                        Prix
                    </div>

                    <div class="cart-right-column">

                    </div>
                </li></ul>
            <ul class="cart-table">
                <li ng-repeat="item in cart.items">
                    <div class="cart-left-column">
                        <a href="/Shop-war/#/product/{{item.product.id}}">
                        {{item.product.Label}}
                        </a>
                    </div>

                    <div class="cart-quantity-column">
                        {{item.count}}
                    </div>

                    <div class="cart-right-column">
                        <div class="cart-suppr" ng-click="cart.removeItem(item.id)"><div class="cart-x">x</div></div>
                    </div>

                    <div class="cart-price-column">
                        {{item.product.Price * item.count}} €
                    </div>
                </li>
            </ul>
            <div class="cart-total">Total : {{getTotal()}} €</div>
            <div class="cart-space"></div>
            <div class="cart-retour"><a href="/Shop-war/#/about">Retour à l'accueil</a></div>
            <div class="cart-valider" ng-click="state = 'payment'"> Valider</div>
        </div>
    <!-- PAYMENT -->
    <div ng-show="state === 'payment'">
        <h1 class="cart-title">Paiement</h1>
        <div class="cart-paiement">
            <div class="cart-paiement-left">
                <table class="products-table">    
                    <tr>
                        <td>
                            Numéro de carte :
                        </td>
                        <td>
                            <input type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date d'expiration : 
                        </td>
                        <td>
                            <input class="cart-date" type="text" placeholder="MM"/> / <input class="cart-date" type="text" placeholder="AA"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cryptogramme visuel : 
                        </td>
                        <td>
                            <input class="cart-crypto" type="text"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="cart-paiement-right"> 
                <input class="cart-submit" type="submit" value="Paypal"/>
            </div>
        </div>
        <div class="cart-space-paiement"></div>
        <div class="cart-retour"  ng-click="state = 'cart'">Retour au panier</div>
        <div class="cart-valider" ng-click="state = 'adress';payment = 'CB'">Valider</div>
    </div>
    <!-- ADRESS -->
    <div ng-show="state === 'adress'">
        <h1 class="cart-title">Livraison</h1>
        <div class="cart-adresse">
            <table class="cart-adress-table">    
                    <tr>
                        <td>
                            Adresse : 
                        </td>
                        <td>
                            <input size="60" name="adress" type="text" ng-model="adress">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Code postale : 
                        </td>
                        <td>
                            <input size="6" name="postcode" type="text" ng-model="postcode">
                            Ville : <input size="15" name="city" type="text" ng-model="city">
                        </td>
                    </tr>
            </table>
        </div>
        <div class="cart-space-adresse"></div> 
        <div class="cart-retour" ng-click="state = 'payment'">Retour aux informations de paiement</div>
        <div class="cart-valider" ng-click="state = 'validation'">Valider</div>
    </div>
    <!-- VALIDATION -->
    <div ng-show="state === 'validation'">
        <h1 class="cart-title">Validation</h1>
        <div class="cart-validation">
            <div>Adresse de livraison : {{adress}} {{postcode}} {{city}}</div>
            <div>Paiement : {{payment}} </div>
            <div>Total : {{getTotal()}} € </div>
        </div>
        <div class="cart-space-adresse"></div> 
        <div class="cart-retour" ng-click="state = 'adress'">Retour à l'adresse de livraison</div>
        <div class="cart-valider"><a href="/Shop-war/" ng-click="confirmCart()">Confirmer</a></div>
            <p ng-if="confirmOrder.error">
              {{confirmOrder.error}}
        </p>
    </div>
    
    
    
</div>
