<div class="conditions">

<h1>Conditions générales</h1>
<h2>PRÉAMBULE</h2>
<div>Le service d'annonces en ligne GlisseShop (ci-après la « Plateforme GlisseShop ») est géré par la société GlisseShop, société par actions simplifiée au capital de 355.964,80 euros, dont le siège social est sis au 92 rue Réaumur, 75002 PARIS, France, immatriculée au Registre du commerce et des sociétés de Paris sous le numéro B 432 647 584, Tél. : 01.53.01.41.25 - Fax : 01.42.78.80.61 - courrier électronique , numéro de TVA Intracommunautaire FR23432647584, enregistrée en qualité de mandataire d'intermédiaire bancaire et services de paiement sous le numéro 13005139.  
</div><br/>
<div>La Plateforme GlisseShop  permet la mise en relation de vendeurs annonceurs (ci-après les "Vendeurs") et d'acheteurs (ci-après les "Acheteurs") de produits neufs ou d'occasion (ci-après les "Produits"). Les Vendeurs et les Acheteurs sont ci-après désignés conjointement les Membres. La Plateforme GlisseShop permet la conclusion de contrats de vente des Produits. Les Membres sont seuls décisionnaires de la concrétisation de l'achat et de la vente des Produits.
</div><br/>
<div>L'acceptation des présentes Conditions générales d'utilisation de la Plateforme GlisseShop par les Membres vaut mandat donné à GlisseShop pour mettre en relation Vendeurs et Acheteurs et opérer les Transactions effectuées sur le site de GlisseShop selon les modalités ci-après.
</div><br/>
<div>Version mise à jour le 11 juin 2014
</div><br/>
<h2>01 DÉFINITIONS</h2>
<div>Plateforme GlisseShop : désigne la structure fonctionnelle et organisationnelle mise en place par GlisseShop permettant la Mise en Relation de Vendeurs et d'Acheteurs de Produits. Les offres s'opèrent selon les moyens informatiques de télécommunications décrits dans la Documentation GlisseShop.
</div><br/>
<div>Produit : désigne les Produits mentionnés à la Documentation GlisseShop, susceptibles de faire l'objet d'une Mise en Relation par la Plateforme GlisseShop.
</div><br/>
<div>Produit Interdit : désigne les Produits contraires aux bonnes moeurs ou non autorisés en vertu de dispositions législatives, réglementaires ou contractuelles. Il s'agit notamment des Produits qui constitueraient des produits contrefaisants au sens du Code de la propriété intellectuelle ou qui seraient vendus en violation de réseaux de distribution sélective ou exclusive. La présente définition vise également les coupons ou codes de réduction ou d’offres promotionnelles.
</div><br/>
<div>Vendeur : désigne un Membre effectuant une offre de vente d'un Produit sur la Plateforme GlisseShop.
</div><br/>
<div>Acheteur : désigne un Membre ayant indiqué son acceptation de l'offre d'un Vendeur.
</div><br/>
<div>Membre : désigne au singulier ou au pluriel un Vendeur ou un Acheteur susceptible de faire usage de la Plateforme GlisseShop après acceptation des Conditions générales d'utilisation. Pour accéder au bénéfice de la Plateforme GlisseShop, tout Membre doit être âgé de 18 ans révolus et avoir une adresse de livraison en France métropolitaine ou dans un pays de l'Union Européenne.
</div><br/>
<div>Prix : désigne le prix proposé par le Vendeur pour son offre de vente d'un Produit. Le Prix constitue l'assiette de la Commission de GlisseShop. En ce qui concerne les livres, le prix neuf s'entend au sens et dans les limites de la loi du 10 août 1981 relative au prix du livre (dite "loi Lang").
</div><br/>
<div>Commission : désigne la rémunération perçue par GlisseShop au titre de l'utilisation de la Plateforme GlisseShop.
</div><br/>
<div>Prix de la Transaction : désigne le prix total du Produit payable par l'Acheteur, comportant, en plus du Prix de vente du Produit, les frais de port définis de façon forfaitaire.
</div><br/>
<div>Base de Références : désigne la base de données interne de la Plateforme GlisseShop comportant, notamment, les Codes Produit des Produits susceptibles de faire l'objet d'une offre par un Vendeur.
</div><br/>
<div>Code Produit : désigne, au singulier comme au pluriel, le code EAN (code-barres) ou équivalent constituant l'identifiant d'un Produit comme décrit dans la Base de Références de la Documentation GlisseShop.
</div><br/>
<div>Documentation GlisseShop : désigne les informations constituées des questions fréquemment posées ("FAQ/Contact") et des pages "Comment vendre" et "Comment acheter" et "Aide" accessibles sur la Plateforme GlisseShop.
</div><br/>

<h2>02 OBJET</h2>

<div>Les présentes Conditions générales d'utilisation de la Plateforme GlisseShop ont pour objet de définir des conditions par lesquelles les Membres sont autorisés à utiliser la Plateforme GlisseShop aux fins d'opérer leur Mise en Relation.
 </div><br/>

 <h2>03 OBLIGATIONS DE GlisseShop</h2>

<div>3.1 GlisseShop s'engage à mettre à la disposition des Membres sur la Plateforme GlisseShop les offres des Vendeurs. GlisseShop reçoit, à cette fin, mandat de la part du Vendeur pour mettre à la disposition des Acheteurs les offres fournies par le Vendeur et pour ouvrir en son nom et pour son compte, un compte séquestre des sommes perçues au cours de la transaction. GlisseShop s'engage à assurer le traitement de toute réclamation faisant suite à la vente d'un Produit sur la Plateforme GlisseShop.
</div><br/>
<div>3.2 GlisseShop n'est en aucun cas revendeur des Produits dans le cadre de la Mise en Relation et n'entre pas, sauf mentions particulières figurant au présent contrat, en possession desdits Produits.
</div><br/>
<div>3.3 GlisseShop ne peut garantir que le Produit du Vendeur satisfera l'Acheteur. De même, GlisseShop ne peut garantir au Vendeur que le Produit ne sera pas retourné ou que la vente ne sera pas annulée par l'Acheteur.
</div><br/>
<div>3.4 GlisseShop met en place un système permettant à l'Acheteur, à l'issue de la transaction avec un Vendeur, de déterminer des critères de satisfaction d'après une grille communiquée par GlisseShop à l'Acheteur (voir dans la Documentation GlisseShop Grille de satisfactions).
</div><br/>
<div>3.5 GlisseShop pourra supprimer de ses serveurs, sans préavis, tout les signaux, écrits, images, messages et autres éléments constitutifs de l’offre du Vendeur et stockés à sa demande lorsque cette offre sera restée hors-ligne plus de six mois consécutifs. 
</div><br/>
<h2>04 PROCESSUS DE VENTE</h2>

<div>4.1 L'Acheteur reconnaît que son acceptation de l'offre est faite en considération de la description du Produit objet de la Vente et qu'elle vaut engagement ferme de contracter avec le Vendeur aux conditions de l'offre. Toutefois, le contrat de Vente est conclu sous la condition résolutoire que le Produit commandé soit disponible. La confirmation de la disponibilité du Produit par le Vendeur emporte la levée de la condition résolutoire. En cas d’infirmation de la disponibilité du Produit, le contrat de Vente conclu entre l'Acheteur et le Vendeur est automatiquement et immédiatement résolu et les obligations de chacune des parties sont révoquées de plein droit. Il est précisé qu’en cas de contrat de Vente portant sur plusieurs Produits, seul sera résolu le contrat de Vente portant sur le Produit indisponible. 
</div><br/>
<div>4.2 GlisseShop notifiera la réception et l'encaissement du Prix de la Transaction à l'Acheteur et au Vendeur par courrier électronique (ci-après la "Notification"). La Notification adressée par courrier électronique à l'Acheteur comportera l'indication du moyen par lequel l'Acheteur doit manifester son accord ou désaccord pour la libération du Prix de la Transaction par GlisseShop.
</div><br/>
<div>4.3 GlisseShop est seul habilité à donner ordre au compte séquestre de procéder au paiement, au bénéfice du Vendeur, du Prix de la Transaction déduction faite de la commission lorsque l'Acheteur aura confirmé à GlisseShop la bonne réception du Produit conforme à l'offre et lui donnant satisfaction à cet égard, ci-après la libération du Prix de la Transaction.
</div><br/>
<div>4.4 A défaut de confirmation expresse de l'Acheteur ou à défaut de notification de la non-réception du Produit, son accord sur la Transaction sera réputé acquis à l'expiration d'un délai maximal de six semaines après la commande. Ce reversement s'opérera selon les modalités indiquées dans la Documentation GlisseShop.
</div><br/>
<div>4.5 Le Vendeur accepte par avance que le paiement par GlisseShop du Prix de la Transaction puisse être retardé, d’une part pour des raisons tenant aux contraintes bancaires et ce pendant un délai de trois jours ouvrés, et d’autre part dans l'hypothèse d'une réclamation de l'Acheteur pendant le délai d'examen de celle-ci par GlisseShop.
</div><br/>
<div>4.6 Dès lors que l'Acheteur a accepté l'offre du Vendeur, que celui-ci a confirmé la disponibilité du Produit objet de l'offre et que GlisseShop a encaissé le règlement intégral du Prix de la Transaction de l'Acheteur, GlisseShop communiquera au Vendeur les coordonnées de l' Acheteur. Sur simple demande, GlisseShop communiquera à l'Acheteur les coordonnées du Vendeur professionnel.
</div><br/>
<h2>05 OBLIGATIONS DES MEMBRES</h2>

<div>5.1 En s'enregistrant auprès de GlisseShop, le Membre dispose d'un identifiant unique et d'un code d'accès nominatif strictement personnels, qu'il s'engage à conserver confidentiels. Le Membre enregistré est seul autorisé à utiliser la Plateforme GlisseShop à l'aide de l'identifiant et du code d'accès nominatif. Le Membre s'engage à ne proposer à aucune autre personne l'accès sous son identité ou son identifiant à la Plateforme GlisseShop. Dans l'hypothèse où il aurait connaissance de ce qu'une autre personne accède à celle-ci, le Membre informera GlisseShop sans délai et confirmera cette information par courrier. 
</div><br/>
<div>5.2 Le Membre s'engage à ne pas prendre un identifiant injurieux, contraire à l’ordre public ou aux bonnes mœurs, portant atteinte aux droits de tiers, aux lois et règlements et à l’image de GlisseShop ou des sociétés du Groupe Rakuten. Le Membre n'adoptera pas, par exemple, un identifiant portant atteinte à une marque déposée, à une dénomination sociale ou à toute donnée directement ou indirectement nominative.
</div><br/>
<div>5.3 Le Membre s'engage à ne pas créer ou utiliser d'autres comptes que celui initialement créé, que ce soit sous sa propre identité ou celle de tiers. Toute dérogation à cette règle devra faire l'objet d'une demande explicite de la part du Membre et d'une autorisation expresse, préalable et spécifique de GlisseShop. Le fait de créer ou utiliser de nouveaux comptes sous sa propre identité ou celle de tiers sans avoir demandé et obtenu l'autorisation de GlisseShop pourra entraîner la suspension immédiate des comptes du Membre et de tous les services associés.
</div><br/>
<div>5.4 En cas de litige entre les Membres, les parties conviennent que la production par GlisseShop des enregistrements sur les serveurs de GlisseShop de l'utilisation de la Plateforme GlisseShop et notamment des codes d'accès nominatifs du Membre feront foi entre les parties.
</div><br/>
<div>5.5 Le Membre s'interdit en particulier de mettre en vente, de vendre et/ou d'acheter, directement ou indirectement, des Produits Interdits, ainsi que d'utiliser des informations auxquelles il aurait accès par la Plateforme GlisseShop pour procéder à l'achat ou à la vente de tels Produits Interdits. Le Membre s'engage à informer sans délai GlisseShop dans le cas où il constaterait l'offre en ligne de tels produits.
</div><br/>
<div>5.6 GlisseShop se réserve le droit de suspendre immédiatement le compte du Membre et les sommes y figurant et de porter à la connaissance des autorités compétentes tout achat, toute offre de vente, ou toute tentative d'offre de vente sur la Plateforme GlisseShop de Produits Interdits. Dans une telle situation, le Membre sera redevable de frais de dossiers d'un montant fixe de cent (100) euros hors taxes augmenté d'un montant variable de vingt pourcent (20 %) de la somme du Prix de la Transaction des ventes et des achats de Produits Interdits et de la somme du Prix des Produits Interdits offerts à la vente ou ayant fait l’objet de tentative d’offre de vente. Le Membre autorise GlisseShop à percevoir ces sommes sur le compte séquestre conformément aux articles 6.8 et suivants.
</div><br/>
<div>5.7 Le Membre s’engage à respecter les conditions d’utilisation attachées aux coupons de réduction susceptibles d’être attribués par GlisseShop.
</div><br/>
<div>5.8 En cas de non-respect des dispositions des articles 5.7, 6.1 et 6.4, le Membre s’expose, nonobstant le paiement des sommes dues à titre principal, à une pénalité contractuelle égale à 20 % hors taxe du montant en cause (valeur des coupons ou montant de la commission) avec un minimum de cent (100) euros hors taxe.
Le Membre autorise GlisseShop à percevoir ces sommes sur le compte séquestre conformément aux articles 6.8 et suivants.
</div><br/>
<div>5.9 Le Membre s’engage à renseigner des informations exactes quant à son identité, adresse et autres données nécessaires à l'accès à la Plateforme GlisseShop et à mettre à jour toute modification concernant ces informations. Le Membre fera son affaire de la réception effective des courriers électroniques qui lui seront adressés par GlisseShop, notamment en paramétrant sa messagerie électronique de sorte à ce que les courriers électroniques expédiés depuis une adresse en <@priceminister.com> soient parfaitement acheminés dans sa boite de réception.
</div><br/>

...
...
...

<h2>11 DISPOSITIONS GÉNÉRALES</h2>

<div>11.1 GlisseShop a la faculté de modifier les présentes Conditions générales d'utilisation en fonction de l'évolution de son offre et du marché. Toute modification prendra effet immédiatement pour les offres en ligne dès leur notification aux Membres par tout moyen choisi par GlisseShop. Elles ne s'appliqueront pas pour les transactions en cours au moment de leur entrée en vigueur. A titre occasionnel, GlisseShop pourra interrompre le service pour des raisons opérationnelles, de maintenance ou en cas d'urgence.
</div><br/>
<div>11.2 Le Membre se connectera à la Plateforme GlisseShop au moyen de ses propres équipements terminaux de télécommunication. GlisseShop ne met à disposition du Membre aucun moyen matériel, installation téléphonique, équipement terminal ou autres, ni logiciel ou abonnement.
</div><br/>
<div>11.3 Les données nominatives relatives aux Membres sont collectées, enregistrées et stockées en conformité avec les dispositions de la Loi 78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés. Les Membres disposent du droit d'accès et de rectification prévu par la loi auprès GlisseShop responsable de la Plateforme GlisseShop.
</div><br/>
<div>11.4 En cas d’inexécution de l’une de ses obligations contractuelles, la partie débitrice de cette obligation ne sera pas considérée comme défaillante ni tenue à réparation, si l’exécution de l’obligation a été rendue impossible par un cas de force majeure. 
</div><br/>
<div>11.5 L'invalidité d'une ou plusieurs clauses des présentes Conditions générales d'utilisation n'entraînera pas la nullité desdites Conditions générales d'utilisation. 
</div><br/>
<div>11.6 Le présent contrat est soumis à la Loi française. 
Tout litige avec un Membre agissant à titre professionnel et né à l'occasion de son interprétation et/ou de son exécution est de la compétence du Tribunal de commerce de Paris. 
</div><br/>
<div>11.7 GlisseShop adhère au Code de Déontologie de la FEVAD (Fédération du e-commerce et de la Vente à distance) et au système de Médiation du e-commerce (Fevad.com).
</div><br/>
</div>