<div class="cart" ng-controller="OldOrderController">
    <div>
        <h1 class="cart-title">Mes Commandes</h1>
        <ul >
            <li ng-repeat="order in account.Orders">
                <div>Commande {{order.idOrder}}</div>
                <div>
                    <ul>
                        <li ng-repeat="item in order.itemList">
                            {{item.Count}}
                            {{item.Reference.Label}}
                            Total = {{item.Reference.Prix * item.Count}} €
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div ng-show="emptyOrders">
        Vous n'avez aucun historique de commandes.
        </div>
       
    </div>
</div>