<div class="product-list" ng-controller="ProductsController">
    <table class="products-table">    
        <tr>
            <td>
                <div class="filters-inject" ng-include="'Views/filters.html'"></div>
            </td>
            <td>
                <div ng-show="!loading" class="products-container">
                <div class="products-item" ng-repeat="product in products">
                     <a href="/Shop-war/#/product/{{product.id}}">
                         <div class="hidden-name">
                             <div>{{product.Label}}</div>
                             <div>{{product.Price}} €</div>
                         </div>

                    <img class="products-media" src="MediasImg/{{product.Medias[0]}}" alt="{{product.Label}}">
                </div>
                </div>
                <div ng-if="loading">
                    <label>loading...</label>
                </div>
            </td>
        </tr>
    </table>
    <div ng-show="products.length < 1">Aucun produit disponible dans cette section</div>
</div>

