<div class="signin" ng-controller="registerController"> 
    
    <h1 class="signin-title">S'enregistrer</h1>
    
    <span class="msg-error" ng-show="formulaire.pwd2.$error.pwmatch">
		Passwords don't match.
    </span>
    
    <div class="formulaire2">
        <div class="input">Nom : <input type="text" placeholder="Nom" ng-model="name"/></div>
        <div class="input">Prénom : <input type="text" placeholder="Prénom" ng-model="surname"/></div>
        <div class="input">Adresse : <input type="text" placeholder="Adresse" ng-model="adress"/></div>
        <div class="input">Email : <input type="text" placeholder="Email" ng-model="mail"/></div>
        <div class="input">Mot de passe : <input type="password" placeholder="Mot de passe" ng-model="pwd"/></div>
        <div class="input">Confirmation du mot de passe : <input type="password" placeholder="Confirmez votre mot de passe" ng-model="pwd2" pw-check="pwd"/></div>
        
        <a href="/Shop-war/"><input type="submit" disabled="true" ng-click="register()" value="Annuler"/></a>
        <input type="submit" ng-click="register()" value="Creer Mon Compte"/>
    </div>
   
    
</div>
