<div class="signin" ng-controller="registerController"> 
    
    <h1 class="signin-title">S'enregistrer</h1>
    
    <span class="msg-error" ng-show="formulaire.pwd2.$error.pwmatch">
		Passwords don't match.
    </span>

    <div class="formulaire2">
        <table class="products-table">    
        <tr>
            <td>
                Nom : 
            </td>
            <td>
                <div class="input"><input type="text" placeholder="Nom" ng-model="name"/></div>
            </td>
        </tr>
        <tr>
            <td>
                Prénom : 
            </td>
            <td>
             <div class="input"><input type="text" placeholder="Prénom" ng-model="surname"/></div>
            </td>
        </tr>
        <tr>
            <td>
                Adresse : 
            </td>
            <td>
                <div class="input"><input type="text" placeholder="Adresse" ng-model="adress"/></div>
            </td>
        </tr>
        <tr>
            <td>
                Email : 
            </td>
            <td>
                <div class="input"><input type="text" placeholder="Email" ng-model="mail"/></div>
            </td>
        </tr>
        <tr>
            <td>
                Mot de passe : 
            </td>
            <td>
                <div class="input"><input type="password" placeholder="Mot de passe" ng-model="pwd"/></div>
            </td>
        </tr>
        <tr>
            <td>
                Confirmation du mot de passe : 
            </td>
            <td>
                <div class="input"><input type="password" placeholder="Confirmez votre mot de passe" ng-model="pwd2" pw-check="pwd"/></div>
                <div class="msg-error" ng-show="errorTest" >
		{{errorTest}}
            </div>
            </td>
        </tr>
        <tr>
            
            <td class="register-annuler">
                <a href="/Shop-war/"><input type="submit" ng-click="register()" value="Annuler"/></a>
            </td>
            <td>
                <input type="submit" ng-click="register()" ng-disabled="isValid()" value="Creer Mon Compte"/>
            </td>
            
        </tr>
        </table>
        
    </div>
   
    
</div>
