<div class="signin" ng-controller="signInController"> 
    
    <h1 class="signin-title">Se connecter</h1>
    
    <div class="formulaire">
        <table class="products-table">    
            <tr>
                <td>
                    Email : 
                </td>
                <td>
        <div class="input"><input type="text" placeholder="Email" ng-model="mail"/></div>
                </td>
            </tr>
            <tr>
                <td>
                    Mot de passe : 
                </td>
                <td>
        <div class="input"><input type="password" placeholder="Mot de passe" ng-model="pwd"/></div>
                </td>
            </tr>
            <tr>
                <td class="register-annuler">
                    <a href="/Shop-war/"><input type="submit" ng-click="register()" value="Annuler"/></a>
                </td>
                <td>
        <input type="submit" ng-click="signIn()" value="Connexion"/>
                </td>
            </tr>
        </table>
         <div class="error-message" ng-show="account.error">
         {{account.error}}
        </div>
    </div>
    
  
   
    
</div>
