body {
    margin: 0;
    background: #f1f1f1;
    font-family: Arial;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content{
    margin-left: 20%;
    min-height: 400px;
    max-width: 60%;
}


.top-image {
    height: 144px;
    background: none repeat scroll 0% 0% #6B9DDB;  
}

.breadcrumb{
    margin-left: 20%;
    color: black;
    height:20px;
    font-size: 12px;
}

.breadcrumb a{
    text-decoration: underline;
    color: black;
    
}

.breadcrumb a:hover{
    text-decoration: none;
    color: #4b44b4;
}

.breadcrumbDiv{
    float: left;
}

.footer {
    height: 21px;
    width: 60%;
    background: none repeat scroll 0% 0% #6B9DDB;
    margin-left: 20%;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    padding-top: 9px;
    position: relative;
    clear: both;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: #666666;
}

.about-title {
    font-size: 24px;
    text-align: center;
}

.about {
    font-size: 14px;
}

.conditions {
    font-size: 14px;
    text-align: justify;
}
