.product-list {
    display : block;
    position : relative;
}

.products-container {
    width : auto;
    min-height: 100px;
    display : block;
    text-align: center;
    
}

.products-table {
    width: 100%;
}

.products-table td{
    vertical-align:top;
}

.products-table ul{
    list-style-type: none;
    font-size:14px;
}

.filters-inject {
    float: left;
    border: solid 1px rgb(156, 198, 236);
    box-shadow: 3px 2px 8px rgb(54, 82, 99);
    background: white;
    margin-top: 7px;
}

.filters-inject ul{
    padding-left: 10px;
    min-width: 200px;
}

.products-item {
    width: 200px;
    height: 200px;
    background: black;
    display : inline-block;
    color : white;
    margin: 7px;
    border : solid 1px rgb(156, 198, 236);
    box-shadow : 3px 2px 8px rgb(54, 82, 99);
}

.products-media{
    display: block;
    height: 100%;
    width: 100%;
}

.product-list .products-item .product-media {
    width: 100%;
}
.product-list .products-item .hidden-name {
    display: none;
    position: absolute;
    z-index: 99999;
    width : 200px;
    color: white;
    font-size: 2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.product-list .products-item:hover a > .hidden-name {
    display : block;
    font-size: 1em;
    text-align: right;
    height: auto;
    color: white;
}